@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.dash-details{
    padding-top: 30px;
}
.dash-details h2 {
    width: 67px;
    height: 26px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #242731;
}
.dash-details p{
    padding-top: 10px;
    width: 180px;
    height: 21px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #5F6165;
}