.dash-car{
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 2000px;
}
.car-header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.car-header h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
}

.search-container {
    display: flex;
    align-items: center;
    width: 300px;
    border: none;
    border-radius: 4px;
    overflow: hidden;
    
  }
  .search-input {
    background-color: #F5F4F6;
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
  }
  
  .search-button {
    background-color: #F5F4F6;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-button img {
    width: 25px;
    height: 25px;
  }
  
  .search-button:hover {
    background-color: #F5F4F6;
  }
  .car-list {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  