@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


.dash-setting{
    margin: 30px;
}
.dash-setting h1{
    width: 120px;
    height: 39px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #242731;
    
}
.dash-setting .button-detail,.button-pics{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #242731;
    box-sizing: border-box;
    width: 87px;
    height: 35px;
    border: 1px solid #965933;
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 20px;
}
.dash-setting .back-link{
    text-decoration: none;
    
    /* border: 1px solid #965933; */
    /* width: 300px; */
    /* height: 500px; */
}