@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.dash-pic{
    padding-top: 30px;
}
.dash-pic h2 {
    width: 67px;
    height: 26px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #242731;
}
.dash-pic p{
    width: 180px;
    height: 21px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #5F6165;
}
.dash-pic img {
    width: 208px;
    height: 204px;
}
.dash-pic .drop-pic{
    padding-top: 30px;
}
/* .drop-pic{
    width: 1000px;
} */