@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.slick-slider div:focus {
    border: none !important;
    outline: none !important;
}

@media screen and (min-width: 801px) {
    .slide2 {
        display: none !important;
    }
}

@media screen and (max-width: 800px) {
    .slide1 {
        display: none !important;
    }
}

@media screen and (max-width: 500px) {
    .slide2 {
        display: none !important;
    }
}

@media screen and (min-width: 501px) {
    .slide3 {
        display: none !important;
    }
}

.brands-slider-brand {
    display: flex !important;
    width: 95% !important;
    height: 200px !important;
    cursor: pointer !important;
}

.brands-slider4 .brands-slider-brand {
    width: 100% !important;
}

.brands-slider3 {
    margin-left: 1% !important;
}

.brands-slider4 {
    margin-left: 2% !important;
}

.brands-slider1 div:focus,.brands-slider2 div:focus, 
.brands-slider3 div:focus, .brands-slider4 div:focus {
    outline: none !important;
    border: 1px solid #965933 !important;
}


@media (max-width: 991px) {
    .brands-slider1 {
        display: none !important;
    }
}

@media (min-width: 991px) {
    .brands-slider2 {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .brands-slider2 {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .brands-slider3 {
        display: none !important;
    }
}

@media (max-width: 500px) {
    .brands-slider3 {
        display: none !important;
    }
}

@media (min-width: 500px) {
    .brands-slider4 {
        display: none !important;
    }
}